body  {
}
.navbar {
  background-image: linear-gradient(to right, #efdf10, #c1b110);
  border-radius: 5px;
}
.nav-item {
  border-radius: 5px;
}
.nav-item a:hover {
  transform: scale(0.9);
}
.navbar-nav .nav-item .nav-link {
  font-size: 24px;
  font-weight: 400;
  transition: all 0.8s;
}
#collapse_target {
  @media all and (max-width: 992px) {
    position: absolute;
    width: calc(100% - 32px);
    height: calc(70vh - 200px);
    padding-left: 10%;
    top: 150px;
    left: 16px;
    background: #efdf10;
    z-index: 16;
    border-radius: 3px;
    li:hover {
      background: rgba(162, 111, 19, 0.73);
    }
    li:nth-of-type(6):hover {
      background: none;
    }
    li:nth-of-type(7):hover {
      background: none;
    }
  }
}
.carousel-inner {
  border-radius: 5px;
  height: 20vh;
}
.carousel-item {
  transition: all 0.5s;
  img {
    height: 20vh;
  }
}
.tab-content>.active {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#footer {
  height: 10vh;
  margin-top: 1vh;
  border-radius: 5px;
}
#footer div {
  background: #efdf10;
  border-radius: 5px;
}
#social {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding-top: 2vh;
}
#social a img {
  transition: all 0.5s;
}
#social a img:hover {
  transform: scale(0.7);
}