body  {
}
.navbar {
  background: #efdf10;
  border-radius: 5px;
}
.nav-item a:hover {
  transform: scale(0.9);
}
.navbar-nav .nav-item .nav-link {
  font-size: 24px;
  font-weight: 400;
  transition: all 0.8s;
}
#collapse_target {
  @media all and (max-width: 992px) {
    position: absolute;
    width: calc(100% - 32px);
    height: calc(70vh - 200px);
    padding-left: 10%;
    top: 150px;
    left: 16px;
    background: rgba(224, 182, 40, 0.84);
    z-index: 1;
    border-radius: 3px;
    li:hover {
      background: rgba(113, 129, 162, 0.73);
    }
    li:nth-of-type(6):hover {
      background: none;
    }
    li:nth-of-type(7):hover {
      background: none;
    }
  }
}
.carousel-inner {
  border-radius: 5px;
  height: 20vh;
}
.carousel-item {
  transition: all 0.5s;
  img {
    height: 20vh;
  }
}